<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tracec">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tracec">
        <activity android:name=".SearchActivity"
            android:label="@string/title_activity_search"/>
        <activity android:name=".QueryActivity"
            android:label="@string/title_activity_advanced_search"/>
        <activity android:name=".RecordActivity"
            android:label="@string/title_activity_record"/>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <receiver
            android:name=".CallAlarm"
            android:permission="xvtian.gai.receivers">
            <intent-filter>
                <action android:name="COM.MESSAGE" />

                <category android:name="receiver" />
            </intent-filter>
        </receiver>
    </application>
    <permission
        android:name="xvtian.gai.receiver"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="xvtian.gai.receiver" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>